body {
  background: url("https://images.unsplash.com/photo-1436076863939-06870fe779c2?dpr=1&auto=format&fit=crop&w=1920&h=1080&q=80&cs=tinysrgb&crop=") fixed;
  background-size: cover;
  }
html {
  height: 100%;
}

.well {
  box-shadow: 0 0 15px 1px black;
}

select {
  box-shadow: 0 0 15px 1px black;
}
