body {
  background: url("../../resources/img/background.jpg") fixed;
  background-size: cover;
  }
html {
  height: 100%;
}

.well {
  box-shadow: 0 0 15px 1px black;
  background:rgba(255,255,255,0.7);
}

select {
  box-shadow: 0 0 15px 1px black;
  background:rgba(255,255,255,0.7);
}
